img {
  width: 200px;
  height: 200px;
  border: 10px solid #ffffff; 
  border-radius: 50%;                     
  box-sizing: border-box;     
}
body {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    text-align: center;
}

table {
    width: 80%;
    margin: 30px auto; 
    
    /* Simple solid border layout */
    border: 3px solid rgb(255, 255, 255);
    border-radius: 15px;
    border-collapse: separate;
    border-spacing: 0;
}

th {
    padding: 15px;
    border-bottom: 3px solid rgb(255, 255, 255); 
}

td {
    padding: 15px;
}
ul {
    text-align: left; 
}
#skills-section {
    display: none;
}

